
<div class="header">
  <h1 class="alignment"
    *ngIf="commonService.isGameRunning"  
    [style.color]="commonService.activePlayer == 'O' ? 'orange' : 'green'"
  > 
    {{ commonService.activePlayer }}'S TURN  
  </h1>
  <h1 class="alignment title"  *ngIf="!commonService.isGameRunning" > GBG Assessment | TicTok Game | Angular 11 </h1> 
  </div>
  <app-board></app-board>
  <h1 class="alignment" *ngIf="commonService.winner" [style.color]="commonService.activePlayer == 'O' ? 'orange' : 'green'">  {{commonService.activePlayer  }} WON </h1>
  
  <div class="btn">

  <button 
  *ngIf="commonService.gameOver"
  (click)="reset()"
> Start New Game
</button>
  </div>
  